<p style="font-size: large;" class = "text-center mt-3">ngSwitch | ngIf</p>

<div class="container mt-3 " style="margin-bottom: 250px;">
  <div class="row  ">

    <input
      type="number"
      (keyup)="estiloSwitch(valor)"
      (change)="estiloSwitch(valor)"
      class="col text-center form-control "
      [(ngModel)]="valor"
    />

    <div class="col-1 ml-1">
      <div
        class="btn-group-vertical col-12 "
        role="group"
        aria-label="Second group"
      >
        <button type="submit" class="btn btn-primary" (click)="sumarValor(1); estiloSwitch(valor)">
          &#5123;
        </button>
        <button type="submit" class="btn btn-outline-danger" (click)="sumarValor(-1); estiloSwitch(valor)">
          &#5121;
        </button>
      </div>
    </div>

    <div class="col-10">
      <button
      type="button"
        (click)="mostrar = !mostrar"
        [ngSwitch]="valor"
        class="btn col-12 "
        aria-label="Basic outlined example"
        [ngClass]="fondo"
      >
        <div
          class="align-items-center justify-content-center mt-2"
          style="font-size: 28px"
        >
          <p *ngSwitchCase="1">
            <strong>{{ titulo }}</strong>
          </p>
          <p *ngSwitchCase="2">
            <strong>{{ titulo }}</strong>
          </p>
          <p *ngSwitchCase="3">
            <strong>{{ titulo }}</strong>
          </p>
          <p *ngSwitchCase="4">
            <strong>{{ titulo }}</strong>
          </p>
          <p *ngSwitchCase="5">
            <strong>{{ titulo }}</strong>
          </p>
          <p *ngSwitchDefault><strong>DEFAULT DIRECTIVA</strong></p>
        </div>
      </button>
    </div>
  </div>

  <app-ejemplos *ngIf="mostrar; else elseBlock"></app-ejemplos>

  <ng-template #elseBlock >
    <div style="margin-top: 250px;"></div>
    <p class = "text-center">No se está mostrando nada!</p>
    <div style="margin-bottom: 500px;"></div>
  </ng-template>

</div >
